<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
  <!--
        	Outlook Conditional CSS
            These two style blocks target Outlook 2007 & 2010 specifically, forcing
            columns into a single vertical stack as on mobile clients. This is
            primarily done to avoid the 'page break bug' and is optional.
            More information here:
			http://templates.mailchimp.com/development/css/outlook-conditional-css
        -->
  <!--[if mso 12]>
      <style type="text/css">
        .flexibleContainer{display:block !important; width:100% !important;}
      </style>
  <![endif]-->
  <!--[if mso 14]>
      <style type="text/css">
        .flexibleContainer{display:block !important; width:100% !important;}
      </style>
  <![endif]-->

<table class="body">
	<tr>
		<td></td>
		<td class="container">
			<div class="content">{{ body }}</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
