<html>
  <head>
  <style>
    .e2ma-template h1, .e2ma-template h2, .e2ma-template h3, .e2ma-template h4, .e2ma-template h5, .e2ma-template h6 {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline
    }
.e2ma-template h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: normal;
    color: #333
    }
.e2ma-template h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #333
    }
.e2ma-template h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333
    }
.e2ma-template h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #333
    }
.e2ma-template .e2ma-content-block p, .e2ma-template .e2ma-combo-block p, .e2ma-template .e2ma-combo-content p, .e2ma-template .e2ma-content-block li, .e2ma-template .e2ma-combo-block li, .e2ma-template .e2ma-combo-content li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333
    }
.e2ma-template #template_container a, .e2ma-template .link {
    color: #333;
    text-decoration: underline
    }
.e2ma-template blockquote {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-style: italic
    }
.e2ma-template blockquote p {
    margin-bottom: 0
    }
.e2ma-template .editable_image img {
    display: block;
    border: 0
    }
.e2ma-template .e2ma-unsubscribe {
    padding-bottom: 10px
    }
.e2ma-template .business_rsvp {
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
    color: #666;
    font-size: 10px
    }
@media screen and (max-width: 480px) {
    .e2ma-template html {
        -webkit-text-size-adjust: none
        }
    .e2ma-template *[class].e2ma-content-block p, .e2ma-template *[class].e2ma-combo-block p, .e2ma-template *[class].e2ma-combo-content p, .e2ma-template *[class].e2ma-content-block li, .e2ma-template *[class].e2ma-combo-block li, .e2ma-template *[class].e2ma-combo-content li {
        font-size: 15px !important
        }
    .e2ma-template *[class].e2ma-holder table, .e2ma-template *[class].e2ma-holder table td {
        display: table !important;
        float: none !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important
        }
    .e2ma-template *[class].e2ma-single-column-layout table {
        float: none !important;
        margin: 0 auto
        }
    .e2ma-template *[class].e2ma-unsubscribe span {
        font-size: 12px !important
        }
    .e2ma-template *[class].business_rsvp {
        font-size: 12px !important
        }
    .e2ma-template *[class].social-sharing {
        text-align: center !important;
        padding-bottom: 10px
        }
    .e2ma-template *[class].e2ma-layout-column-content img, .e2ma-template *[class].e2ma-single-column-layout img, .e2ma-template *[class].e2ma-layout-column-sidebar img, .e2ma-template *[class].e2ma-layout-column-sidebar-2 img, .e2ma-template *[class].e2ma-layout-column-sidebar-3 img {
        max-width: 100%;
        height: auto;
        margin: 0 auto
        }
    .e2ma-template *[class].footer-social img {
        width: 44px !important;
        height: 43px !important;
        margin: 0 auto
        }
    .e2ma-template *[class].share-block {
        text-align: center !important;
        margin: 0 auto !important
        }
    .e2ma-template *[class].footer-text {
        text-align: center !important
        }
    .e2ma-template *[class].mobile-width {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px
        }
    .e2ma-template *[class].mobile-width-nopad {
        width: 100% !important
        }
    .e2ma-template *[class].stack, .e2ma-template *[class].e2ma-layout-column-content, .e2ma-template *[class].e2ma-layout-column-sidebar, .e2ma-template *[class].e2ma-layout-column-sidebar-2, .e2ma-template *[class].e2ma-layout-column-sidebar-3 {
        display: block !important;
        width: 100% !important
        }
    .e2ma-template *[class].hide {
        display: none !important
        }
    .e2ma-template *[class].center, .e2ma-template *[class].center img {
        text-align: center !important;
        margin: 0 auto
        }
    .e2ma-template *[class].scale img, .e2ma-template *[class].editable_image img {
        max-width: 100%;
        height: auto;
        margin: 0 auto
        }
    .e2ma-template *[class].addpad {
        padding: 10px !important
        }
    .e2ma-template *[class].addpad-top {
        padding-top: 10px !important
        }
    .e2ma-template *[class].sanpad {
        padding: 0 !important
        }
    .e2ma-template *[class].sanborder {
        border: none !important
        }
        }</style>
      <meta content="telephone=no" name="format-detection"/>
    </head>
    <body data-e2ma-name="Backdrop" data-e2ma-styles="background" style="margin:0; padding:0; width:100% !important; background-color: #ffffff; background-image: url(file:///Design/your_background_image_here.jpg);">
      <div data-e2ma-name="Backdrop" data-e2ma-styles="background" style="margin:0; padding:0; width:100% !important; background-color: #ffffff; background-image: url(file:///Design/your_background_image_here.jpg);">
        <table background="file:///Design/your_background_image_here.jpg" border="0" cellpadding="0" cellspacing="0" data-e2ma-color="#282828, #f5f5f5" style="background-image: url(file:///Design/your_background_image_here.jpg);" width="100%">
          <tbody>
            <tr>
              <td align="center" valign="top">
                ...
              </td>
          </tr>
          <tr>
            <td align="center" style="padding:15px 0px;" valign="top">

              <table border="0" cellpadding="0" cellspacing="0" class="mobile-width-nopad" id="template_container" width="640">
                <tbody>
                  <tr>
                    <td align="left" valign="top">
                      ...
                    </td>
                </tr>
                <tr>
                  <td align="left" valign="top">
                  [% layout id="2" data-e2ma-style='{"Backdrop":{"background-color":"#ffffff"},"Template":{"border-left-style":"solid","border-left-width":0,"border-right-style":"solid","border-right-width":0}}' %]
                  [% row name="top" %]

                  [%/ row %][% row name="bottom" %]

                  [%/ row %][% flexible name="primary" %]

                  [% block type="image" %]
                  {
                  "styles": {
                  "margin": "5",
                  "padding": "0",
                  "width": "auto"
                  },
                  "imageHolder": [
                  {
                  "url": null,
                  "caption": "",
                  "width": 0,
                  "height": 170,
                  "padding": 10,
                  "alt": "",
                  "href": null,
                  "filePath": null,
                  "sizing": "original",
                  "source": "emma",
                  "displayWidth": 450,
                  "displayHeight": 170,
                  "displayPadding": {
                  "top": 10,
                  "right": 90,
                  "bottom": 10,
                  "left": 90
                  },
                  "assetId": null,
                  "prefetched": false,
                  "defaultCaption": "Image caption",
                  "lastInRow": false,
                  "locked": false
                  }
                  ],
                  "orientation": "horizontal",
                  "smartSizing": true,
                  "captions": false,
                  "number": 1,
                  "location": "main",
                  "type": "image",
                  "locked": false,
                  "_originalRegionId": null,
                  "captionDefault": null,
                  "imageAlignment": "top"
                  }
                  [%/ block %]

                  [% block type="combo" %]
                  {
                  "styles": {
                  "margin": "5",
                  "padding": "0",
                  "width": "auto"
                  },
                  "placeholder": false,
                  "imageHolder": {
                  "visible": true,
                  "value": [
                  {
                  "url": null,
                  "caption": "",
                  "width": 220,
                  "height": 140,
                  "padding": 10,
                  "alt": "",
                  "href": null,
                  "filePath": null,
                  "sizing": "original",
                  "source": "emma",
                  "displayWidth": 200,
                  "displayHeight": 140,
                  "displayPadding": {
                  "top": 10,
                  "right": 10,
                  "bottom": 10,
                  "left": 10
                  },
                  "assetId": null,
                  "prefetched": false,
                  "defaultCaption": "Image caption",
                  "lastInRow": false,
                  "locked": false
                  }
                  ],
                  "smartSizing": true,
                  "captions": true,
                  "captionDefault": null,
                  "number": 1,
                  "orientation": "vertical",
                  "isComboBlock": true,
                  "locked": false,
                  "_originalRegionId": null,
                  "styles": {
                  "margin": "5",
                  "padding": {
                  "top": "0",
                  "right": "0",
                  "bottom": "0",
                  "left": "0"
                  },
                  "borderColor": "#000000",
                  "borderWidth": "0",
                  "borderStyle": "solid",
                  "backgroundColor": "transparent",
                  "width": "auto"
                  },
                  "imageAlignment": "top"
                  },
                  "content": {
                  "visible": true,
                  "value": "&lt;p&gt;&lt;strong&gt;Lorem Ipsum&lt;/strong&gt;&lt;br&gt;Dolor sit amet, consectetur adipiscing elit. Duis euismod ultrices lacinia. Aenean eget urna ut diam hendrerit accumsan.&amp;nbsp;Maecenas a porttitor diam. Suspendisse potenti. Aenean ac risus ut lectus volutpat elementum at sit amet ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at tellus vitae ligula laoreet laoreet ac sit amet eros. Donec pharetra luctus nisl, vitae imperdiet justo ultricies non. Sed a augue elit. Donec venenatis condimentum leo id adipiscing. Aenean et mi erat, a ultrices elit. Aenean vulputate sagittis laoreet. Etiam sed vestibulum purus.&lt;/p&gt;"
                  },
                  "textWrap": true,
                  "imagePosition": "right",
                  "location": "main",
                  "type": "combo",
                  "locked": false,
                  "_originalRegionId": null
                  }
                  [%/ block %]

                  [% block type="divider" %]
                  {
                  "styles": {
                  "margin": {
                  "top": "10",
                  "right": "5",
                  "bottom": "10",
                  "left": "5"
                  },
                  "padding": "0",
                  "width": "auto"
                  },
                  "placeholder": false,
                  "height": "2",
                  "style": "solid",
                  "color": "#929292",
                  "url": null,
                  "type": "divider",
                  "locked": false,
                  "_originalRegionId": null
                  }
                  [%/ block %]

                  [% block type="text" %]
                  {
                  "styles": {
                  "margin": "5",
                  "padding": "0",
                  "width": "auto"
                  },
                  "placeholder": false,
                  "imageHolder": {
                  "visible": false,
                  "value": [
                  {
                  "url": null,
                  "caption": null,
                  "width": 220,
                  "height": 140,
                  "padding": 10,
                  "alt": "",
                  "href": null,
                  "filePath": null,
                  "sizing": "original",
                  "source": "emma",
                  "displayWidth": 200,
                  "displayHeight": 140,
                  "displayPadding": {
                  "left": 10,
                  "top": 10,
                  "right": 10,
                  "bottom": 10
                  },
                  "assetId": null,
                  "prefetched": false,
                  "defaultCaption": "Image caption",
                  "lastInRow": false,
                  "locked": false
                  }
                  ],
                  "smartSizing": true,
                  "captions": false,
                  "captionDefault": null,
                  "number": 1,
                  "orientation": "vertical",
                  "isComboBlock": true,
                  "locked": false,
                  "_originalRegionId": null,
                  "styles": {
                  "margin": "5",
                  "padding": {
                  "top": "0",
                  "right": "0",
                  "bottom": "0",
                  "left": "0"
                  },
                  "borderColor": "#000000",
                  "borderWidth": "0",
                  "borderStyle": "solid",
                  "backgroundColor": "transparent",
                  "width": "auto"
                  },
                  "imageAlignment": "top"
                  },
                  "content": {
                  "visible": true,
                  "value": "&lt;p&gt;&lt;strong&gt;Lorem Ipsum&lt;/strong&gt;&lt;br&gt;Dolor sit amet, consectetur adipiscing elit. Duis euismod ultrices lacinia. Aenean eget urna ut diam hendrerit accumsan.&lt;/p&gt;"
                  },
                  "textWrap": true,
                  "imagePosition": "left",
                  "location": "main",
                  "type": "text",
                  "locked": false,
                  "_originalRegionId": null
                  }
                  [%/ block %]

                  [%/ flexible %]
                  [%/ layout %]
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top">
                    ...
                  </td>
                </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          ...
        </td>
      </tr>
      <tr>
        <td align="center" bgcolor="#F6F7F8" class="e2ma-unsubscribe" style="padding:50px 0px;" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" class="mobile-width" width="640">
            <tbody>
              <tr>
                <td align="left" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td align="left" class="stack" valign="top">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                              <tr>
                                <td align="left" class="share-block center" valign="top">

                                  [% socialShare %]
                                  {
                                  "name": "socialShare-1",
                                  "email": true,
                                  "facebook": true,
                                  "linkedin": true,
                                  "twitter": true
                                  }
                                  [%/ socialShare %]

                                </td>
                              </tr>
                            <tr>
                              <td align="left" class="footer-text" style="font-family:Helvetica, Arial, sans-serif; color:#9d9e9f; font-size:11px; line-height:1.8; text-align:left; padding:20px 0px;" valign="top">
                                [% management %]
                              </td>
                            </tr>
                            <tr>
                              <td align="left" class="footer-text" style="font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:1.5; text-align:left;" valign="top">
                                <a href="#" style="color:#9d9e9f; text-decoration:none; pointer-events:none;">[% account_rsvp_address_1 %] [% account_rsvp_address_2 %]<br>
                                [% account_rsvp_city %], [% account_rsvp_state %] | [% account_rsvp_zip_code %] [% account_rsvp_country %]</a>
                              </td>
                            </tr>
                            <tr>
                              <td align="left" class="footer-text" style="font-family:Helvetica, Arial, sans-serif;font-size:11px; line-height:1.5; text-align:left; padding-top:20px;" valign="top">
                                <a href='[% member:email %]' style='color:#9d9e9f; text-decoration:none;'>[% recipient %]</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td align="center" class="stack" valign="bottom" width="146">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td align="center" style="padding-top:20px;" valign="bottom">
                                <div>[% emma %]</div>
                              </td>
                            </tr>
                          </tbody></table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left" style="line-height:0px; font-size:0px;" valign="top">
                  <div style="line-height:0px; font-size:0px;">[% bug %]</div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body></html>
